<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>CheungChau</string>
		<key>location-lat</key>
		<string>22.21057011222</string>
		<key>location-long</key>
		<string>114.02890205383301</string>
		<key>radius</key>
		<integer>1500</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>LammaYungShueWan</string>
		<key>location-lat</key>
		<string>22.228156</string>
		<key>location-long</key>
		<string>114.106776</string>
		<key>radius</key>
		<integer>2000</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>LammaSokKwuWan</string>
		<key>location-lat</key>
		<string>22.199007896720303</string>
		<key>location-long</key>
		<string>114.1340446472168</string>
		<key>radius</key>
		<integer>3000</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>PengChau</string>
		<key>location-lat</key>
		<string>22.286118227609734</string>
		<key>location-long</key>
		<string>114.04012441635132</string>
		<key>radius</key>
		<integer>913</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>MuiWo</string>
		<key>location-lat</key>
		<string>22.263700340355943</string>
		<key>location-long</key>
		<string>113.99793863296509</string>
		<key>radius</key>
		<integer>740</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>ParkIsland</string>
		<key>location-lat</key>
		<string>22.35251680867083</string>
		<key>location-long</key>
		<string>114.06136751174927</string>
		<key>radius</key>
		<integer>635</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>DiscoveryBay</string>
		<key>location-lat</key>
		<string>22.300929137732695</string>
		<key>location-long</key>
		<string>114.01907444000244</string>
		<key>radius</key>
		<integer>1106</integer>
	</dict>
</array>
</plist>
