<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>time</key>
		<string>0220</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>0510</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>0550</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>0620</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>0640</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>0700</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>0715</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>0745</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>0750</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>0755</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>0810</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>0820</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>0840</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>0900</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>0930</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1000</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1045</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1115</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1145</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1215</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1245</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1315</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1345</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1415</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1445</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1515</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1545</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1615</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1645</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1715</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1740</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1820</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1900</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1930</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>2000</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>2030</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>2100</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>2130</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>2200</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>2230</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>2300</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>2330</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>2345</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
</array>
</plist>
