<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>time</key>
		<string>0340</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>0620</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>0630</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>0705</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>0800</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>0840</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>0920</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1000</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1040</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1120</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1200</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1240</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1320</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1400</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1440</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1520</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1600</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1640</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1720</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1800</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1840</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1920</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>2000</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>2040</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>2120</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>2200</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>2250</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>2330</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
</array>
</plist>
