<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>time</key>
		<string>0340</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>0555</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>0620</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>0630</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>0700</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>0710</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>0750</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>0805</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>0830</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>0845</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>0930</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1000</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1040</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1130</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1210</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1250</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1330</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1410</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1450</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1530</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1610</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1650</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1730</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1810</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1840</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1930</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>2030</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>2130</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>2240</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>2330</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
</array>
</plist>
