<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>time</key>
		<string>0645</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>0800</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>0935</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1105</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1240</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1435</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1605</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1735</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1935</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>2105</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>2240</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
</array>
</plist>
