<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>time</key>
		<string>000</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>0030</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>0050</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>0120</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>0250</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>0420</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>0600</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>0640</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>0720</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>0800</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>0830</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>0900</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>0930</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1000</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1030</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1100</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1130</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1200</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1230</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1300</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1330</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1400</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1430</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1500</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1530</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1600</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1630</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1700</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1730</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1800</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1830</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1900</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1930</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>2000</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>2030</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>2100</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>2130</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>2200</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>2230</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>2300</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>2330</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
</array>
</plist>
