<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>time</key>
		<string>0620</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>0700</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>0720</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>0740</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>0800</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>0820</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>0840</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>0900</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>0920</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>0940</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1030</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1120</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1200</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1300</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1345</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1430</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1515</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1600</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1630</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1715</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1750</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1810</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1830</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1850</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1920</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>2000</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>2030</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>2130</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>2230</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>2330</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
</array>
</plist>
