<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ToIslandPlistNormal</key>
	<string>ToYSWNormal</string>
	<key>FromIslandPlistNormal</key>
	<string>FromYSWNormal</string>
	<key>ToIslandPlistHoliday</key>
	<string>ToYSWHoliday</string>
	<key>FromIslandPlistHoliday</key>
	<string>FromYSWHoliday</string>
	<key>FromIslandPlistSaturday</key>
	<string>FromYSWNormalSaturday</string>
	<key>PriceNormalSlow</key>
	<string>$16.50</string>
	<key>PriceHolidaySlow</key>
	<string>$22.30</string>
	<key>dataLastRefreshTime</key>
	<string>16/11/2013</string>
	<key>pier-lat</key>
	<string>22.226223277639107</string>
	<key>pier-long</key>
	<string>114.10878360271454</string>
</dict>
</plist>
