<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ToIslandPlistNormal</key>
	<string>ToMuiWoNormal</string>
	<key>ToIslandPlistSaturday</key>
	<string>ToMuiWoSaturday</string>
	<key>FromIslandPlistNormal</key>
	<string>FromMuiWoNormal</string>
	<key>ToIslandPlistHoliday</key>
	<string>ToMuiWoHoliday</string>
	<key>FromIslandPlistHoliday</key>
	<string>FromMuiWoHoliday</string>
	<key>TimeOfJourney-Slow</key>
	<integer>50</integer>
	<key>TimeOfJourney-Fast</key>
	<integer>35</integer>
	<key>PriceNormalSlow</key>
	<string>$15.20</string>
	<key>PriceNormalFast</key>
	<string>$29.90</string>
	<key>PriceHolidaySlow</key>
	<string>$22.50</string>
	<key>PriceHolidayFast</key>
	<string>$42.90</string>
	<key>dataLastRefreshTime</key>
	<string>20/11/2014</string>
	<key>pier-lat</key>
	<string>22.265028337892318</string>
	<key>pier-long</key>
	<string>114.00212556123734</string>
</dict>
</plist>
