<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>HungHom</string>
		<key>location-lat</key>
		<string>22.301693</string>
		<key>location-long</key>
		<string>114.190132</string>
		<key>radius</key>
		<integer>1000</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>KowloonCity</string>
		<key>location-lat</key>
		<string>22.317832701310323</string>
		<key>location-long</key>
		<string>114.19439435005188</string>
		<key>radius</key>
		<integer>1000</integer>
	</dict>
</array>
</plist>
