<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>time</key>
		<string>0300</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>0700</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>0750</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>0840</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>0930</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1020</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1105</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1200</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1245</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1340</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1430</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1520</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1610</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1700</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1750</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1840</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1930</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>2020</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>2115</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>2200</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>2250</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>2340</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>2430</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
</array>
</plist>
