<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>time</key>
		<string>0300</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>0700</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>0740</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>0800</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>0830</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>0915</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1000</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1045</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1130</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1215</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1300</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1345</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1430</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1515</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1610</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1645</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1730</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1800</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1830</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1900</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1930</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>2030</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>2115</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>2200</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>2245</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
	<dict>
		<key>time</key>
		<string>2330</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>2430</string>
		<key>kind</key>
		<string>fast</string>
	</dict>
</array>
</plist>
