<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>time</key>
		<string>0720</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>0835</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1020</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1150</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1350</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1520</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1650</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>1845</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>2020</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>2150</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
	<dict>
		<key>time</key>
		<string>2330</string>
		<key>kind</key>
		<string>slow</string>
	</dict>
</array>
</plist>
